.user-card-list {
  background-color: #fff;
  color: #333;
  width: 680px;
  margin-bottom: 25px;
  padding: 25px 8px 15px;
  border-radius: 5px;
}

.user-card-list span {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 695px) {
  .user-card-list {
    width: 550px;
  }
}

@media (max-width: 555px) {
  .user-card-list {
    width: 450px;
  }
}

@media (max-width: 475px) {
  .user-card-list {
    width: 314px;
  }

  .user-card-list span {
    font-size: 1.5rem;
  }
}
