.user-card {
  width: 100%;
  padding: 8px;
  border: 2px solid #d8d8d8;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.user-card p {
  font-size: 1.7rem;
  color: #333;
}

.user-card p span {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}

.user-card button {
  padding: 10px 15px;
  color: #fff;
  border: 0;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
}

.edit-btn {
  background-color: rgb(94, 156, 33);
  display: inline-block;
  margin-right: 10px;
}

.delete-btn {
  background-color: rgb(212, 36, 36);
}

@media (max-width: 475px) {
  .user-card p span {
    font-size: 1.5rem;
  }

  .user-card p {
    font-size: 1.5rem;
  }

  .user-card button {
    width: 65px;
    flex-basis: 65px;
    padding: 10px 12px;
    font-size: 1.5rem;
    text-align: center;
  }
}
