.user-form {
  background-color: #fff;
  color: #333;
  width: 680px;
  padding: 25px 0px;
  margin: 25px 0px 35px;
  border-radius: 5px;
}

.user-form .form-control {
  padding: 15px 35px 5px;
}

.user-form .form-control label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  padding-bottom: 2px;
}

.user-form .form-control input {
  display: block;
  font-size: 1.8rem;
  color: #333;
  padding: 8px 12px;
  width: 100%;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
}

.user-form .form-control input:focus {
  outline: none;
  border-color: rgb(95, 95, 223);
}

.user-form .user-btn {
  padding: 10px 12px;
  text-align: center;
  color: #fff;
  background-color: rgb(95, 95, 223);
  width: 150px;
  font-size: 2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.user-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.user-form .update-btn {
  display: inline-block;
  padding: 10px 12px;
  text-align: center;
  color: #fff;
  background-color: rgb(94, 156, 33);
  width: 150px;
  font-size: 2rem;
  border: 0;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.user-form .form-control-btn {
  padding: 15px 35px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 695px) {
  .user-form {
    width: 550px;
    padding: 25px 15px;
  }
}

@media (max-width: 555px) {
  .user-form {
    width: 450px;
    margin: 20px 0px 30px;
  }

  .user-form .form-control {
    padding: 10px 25px 5px;
  }
}

@media (max-width: 475px) {
  .user-form {
    width: 314px;
    padding: 15px 20px;
    margin: 15px 0px 25px;
  }

  .user-form .form-control {
    padding: 10px 15px 5px;
  }

  .user-form .form-control input {
    font-size: 1.7rem;
    padding: 5px 12px;
  }

  .user-form .form-control label {
    font-size: 1.7rem;
  }

  .user-form .form-control-btn {
    padding: 10px 15px 5px;
  }

  .user-form .user-btn {
    width: 75%;
    font-size: 1.7rem;
  }

  .user-form .update-btn {
    width: 75%;
    font-size: 1.7rem;
    margin-left: 0px;
    margin-top: 10px;
  }
}
