.user-card {
  width: 100%;
  padding: 8px;
  border-left: 5px solid #d8d8d8;
  background-color: #fff;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
  color: #fff;
  transition: transform 0.35s ease-in-out;
}

.user-card:hover {
  border-left: 5px solid rgb(95, 95, 223);
  cursor: pointer;
  transform: translateX(3.5px);
}

.user-card p {
  font-size: 1.7rem;
  color: #333;
}

.user-card p span {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}

.user-card button {
  padding: 10px 15px;
  color: #fff;
  border: 0;
  width: 85px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.6rem;
  text-align: center;
}

.edit-btn {
  background-color: rgb(94, 156, 33);
  display: inline-block;
  margin-right: 10px;
}

.delete-btn {
  background-color: rgb(212, 36, 36);
}

@media (max-width: 475px) {
  .user-card {
    flex-direction: column;
  }

  .user-card p span {
    font-size: 1.5rem;
  }

  .user-card p {
    font-size: 1.5rem;
  }

  .user-card button {
    width: 65px;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 1.5rem;
    text-align: center;
  }
}
