.user-form {
  background-color: #fff;
  color: #333;
  width: 680px;
  padding: 25px 0px;
  margin: 25px 0px 35px;
  border-radius: 5px;
}

.user-form .form-control {
  padding: 15px 35px 5px;
}

.user-form .form-control label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  padding-bottom: 2px;
}

.user-form .form-control input {
  display: block;
  font-size: 1.8rem;
  color: #333;
  padding: 8px 12px;
  width: 100%;
  border: 2px solid #d8d8d8;
  border-radius: 5px;
}

.user-form .form-control input:focus {
  outline: none;
  border-color: rgb(95, 95, 223);
}

.user-form .user-btn {
  padding: 10px 12px;
  text-align: center;
  color: #fff;
  background-color: rgb(95, 95, 223);
  width: 150px;
  font-size: 2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
