.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1960px;
}

.app h1 {
  font-size: 3.7rem;
  margin-top: 15px;
}

@media (max-width: 695px) {
  .app h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 555px) {
  .app h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 475px) {
  .app h1 {
    font-size: 2.2rem;
  }
}
